.tools-card-img {
  width: 50px;
  height: 50px;
  padding-bottom: 5px;
}

.tools-section-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 697px;
  gap: 6px;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 48px;
  padding-left: 52px;
}

.tools-card-large {
  min-height: 129px;
  min-width: 227px;
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px;
  gap: 4px;
}

.tools-card-small {
  min-height: 109px;
  min-width: 113px;
  background-color: #f7f9fc;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.tools-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tools-card-title {
  color: #2e2e48;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  padding: 3px 0px;
}

.tools-card-subtitle {
  color: #79819a;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1%;
  margin: 0;
}

.tools-section-list > :nth-child(n) {
  flex: 1;
}

@media (min-width: 1001px)  and (max-width: 1197px){
  .tools-section-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding-bottom: 20px;
  }

  .tools-card-large,
  .tools-card-small {
    max-width: none;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .tools-section-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding-bottom: 20px;
    padding-left: 0;
  }

  .tools-card-large,
  .tools-card-small {
    max-width: none;
  }
}

@media (max-width: 1000px) {
  .tools-card-large,
  .tools-card-small {
    max-width: 100%;
  }

  .tools-section-list {
    flex-direction: column;
    padding-bottom: 20px;
    min-width: 100%;
    padding-left: 0;
  }
}
