* {
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
}

.container {
  display: flex;
}

.sections {
  padding: 64px 48px 65px 0;
}

.header {
  font-family: 'Outfit', sans-serif;
}

.horizontal-line {
  border-bottom: 1px solid #e2e6ee;
}

.section-title {
  color: #2e2e48;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 1%;
  font-family: 'Outfit', sans-serif;
  padding-bottom: 10px;
}

.main-section {
  display: flex;
}

.divider-circle {
  display: flex;
  flex-direction: column;
}

.main-divider {
  height: 100%;
  width: 1px;
  background-color: #e2e6ee;
  margin-left: 65px;
  margin-top: -60px;
  margin-bottom: -40px;
}

.divider-circle {
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -10px;
}

.container {
  position: relative;
}

.sections::before {
  content: '';
  position: absolute;
  top: 100px;
  left: 411px;
  width: 1px;
  height: 95%;
  background-color: #e2e6ee;
  z-index: -1;
}

.section-title,
.section-content {
  position: relative;
  padding-left: 52px;
}

.section-title::before,
.section-title::after {
  content: '';
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border-radius: 50%;
  display: inline-block;
  width: 8px;
  height: 8px;
}

.section-title::before {
  left: 0;
  background-color: #5531a7;
}

.section-title::after {
  left: -12px;
  width: 32px;
  height: 32px;
  background-color: #fff;
  z-index: -1;
  box-shadow: 0 1px 1px #0000000a inset, 0 6px 24px #0000000a,
    0 1px 4px #0000000d;
}

@media (max-width: 1000px) {
  .sections::before,
  .section-title::before,
  .section-title::after {
    display: none;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    max-width: 100%;
  }

  .sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 16px;
  }

  .section-title {
    text-align: center;
    padding-left: 0;
  }

  .section-content {
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
}
